/* body {
  text-align: center;
} */
body,
html {
  height: 100%;
  text-align: center;
  background-color: skyblue;
}
footer {
  padding-top: 20%;
}
footer img {
  width: 10px !important;
  height: 10px !important;
}
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #ddd;
  color: rgb(231, 26, 26);
}

.nav a:active {
  color: rgb(17, 207, 90);
}
.card {
  height: 40rem;
}
.card img {
  height: 25rem;
}
/* .carousel img {
  height: 50vh;
  width: 50vw;
} */

.parallax {
  /* The image used */
  background-image: url("images/lava\ canyon11.jpg");
  overflow: hidden;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("images/lava\ canyon13.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("images/lava\ canyon2.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  /* The image used */
  background-image: url("images/lava\ canyon3.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax4 {
  /* The image used */
  background-image: url("images/lava\ canyon4.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
