/* body {
  text-align: center;
} */
body,
html {
  height: 100%;
  text-align: center;
}
.card {
  height: 40rem;
}
.card img {
  height: 25rem;
}
.carousel img {
  height: 40vh;
  width: 50vw;
}

.parallax {
  /* The image used */
  background-image: url("images/IMG_0434.png");
  overflow: hidden;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  /* The image used */
  background-image: url("images/IMG_0441.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
